@page "/Details/{Id}"
@inject ISuggestionData suggestionData
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authProvider
@inject IUserData UserData
@rendermode InteractiveServer

<h1>Suggestion Details</h1>
<div>
    <div>
        @if(suggestion is not null)
        {
            <div>
                <div>
                    <div @onclick= "VoteUp" >
                        <div>@GetUpvoteTopText()</div>
                        <span class="oi oi-caret-top"></span>
                        <div>@GetUpvoteBottomText()</div>
                    </div>
                    <div>
                        <div>@suggestion.DateCreated.ToString("MM.dd.yyyy")</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>@suggestion.Suggestion</div>
                        <div>@suggestion.Author.DisplayName</div>
                        <div>@suggestion.Description</div>
                        <div>@suggestion.Category.CategoryName</div>
                    </div>
                </div>
                <div>
                    <button @onclick="ClosePage"></button>
                </div>
            </div>
        }
    </div>
</div>

@if(suggestion?.SuggestionStatus is not null)
{
    <div>
        <div>
            <div>

            </div>
            <div>
                <div>
                    @suggestion.SuggestionStatus.StatusName
                </div>
                <div>
                    @((MarkupString)suggestion.OwnerNotes)
                </div>
            </div>
        </div>
    </div>
}

